*{
    margin:0px;
    padding:0px;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.615);
}
.wrap{
    margin: 0 auto;
    
    width:1120px;
}
#rogo{
    margin:30px;
    margin-bottom:10px;
    margin-left:70px;
}
header{
    
    background-color: rgba(128, 128, 128, 0.115);
}
header> div:last-child > div >  a{
    font-size: 12px;
    color:white;
}
header div:first-child,div:nth-child(2){
    float:left;
    
    
}
header > div:nth-child(2),div:nth-child(3) {
    font-size: 13px;
}
header > div:nth-child(3) > a {
    margin-right:10px;
}
header span{
    color:rgba(0, 128, 0, 0.527);
}
header > div:last-child > div{
    display: inline-block;
    margin-left:70px;
    margin-right:50px;
}
header > div:last-child > div:first-child{
    margin-left:170px;
}
header > div:last-child{
    background-color: rgb(95, 90, 90);
    padding:10px;
} 
#clear{
    clear:left;
}
header > div:nth-child(2){
    position:relative;
    top:43px;
    left:130px;
}
header > div:nth-child(3){
    position:relative;
    left:338px;
    top:39px;
}





nav{
    float:left;
    background-color:rgba(128, 128, 128, 0.115);
    width:25%;
    height:600px;
}
nav table{
    position:relative;
    margin-left:40px;
    border-left:1px solid rgba(0, 0, 0, 0.179);
    border-collapse: collapse;
    border-right:1px solid rgba(0, 0, 0, 0.179);
    left:38px;
    top:20px;
}

nav table td{
    border-bottom: 1px solid rgba(0, 0, 0, 0.179);
    padding:3px;
    padding-left:30px;
    font-size: 11px;
    height:20px;
}
nav table tr:first-child td{
    background-color: #80a727;
    text-align: center;
    padding:10px;
    color:white;
    font-size: 12px;
    width:180px;
    border-bottom:none;
}
nav > div:nth-child(2){
    position:relative;
    left:77px;
    top:36px;
}
main{
    margin-left:25%;
    background-color: rgba(128, 128, 128, 0.115);
    width:75%;
    height:600px;
}
main > div:first-child{
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.542);
    padding:10px;
    padding-left:0px;
    width:90%;
    
    margin:0 auto;
    margin-top:16px;
}
main > div:nth-child(2){
    position: relative;
    top:10px;
    left:45px;
}
main table{
    position:relative;
    margin-left:40px;
    border-left:1px solid rgba(0, 0, 0, 0.179);
    border-collapse: collapse;
    border-right:1px solid rgba(0, 0, 0, 0.179);
    left:-10px;
    top:20px;
}

main table td{
    border-bottom: 1px solid rgba(0, 0, 0, 0.179);
    padding:3px;
    padding-left:30px;
    font-size: 11px;
    height:20px;
    
}
main table tr:first-child td{
    background-color: rgba(0, 0, 0, 0.179);
    text-align: center;
    padding:10px;
    color:black;
    font-weight: bold;
    box-shadow: 0px -3px rgba(4, 86, 4, 0.527);
    font-size: 12px;
    width:180px;
    border-bottom:none;
}
main > div:last-child{
    position:relative;
    top:40px;
    left:90px;
}





footer{
    background-color: rgba(128, 128, 128, 0.115);
    height:200px;
}
footer > div:first-child{
    background-color: rgb(73, 69, 69);
    padding:10px;

}
footer > div:first-child >div{
    display: inline-block;
    margin-left:20px;
    
}
footer > div:first-child >div:nth-child(2){
    margin-left:270px;
}
footer > div:first-child >div a{
    font-size:11px;
    color:white;
}
footer > div:last-child{
    float:none;
}
footer > div:last-child > div{
    float:none;
    display: inline-block;
}
footer > div:last-child > div:first-child{
    position:relative;
    left:90px;
    bottom:10px;
}
footer > div:last-child > div:nth-child(2){
    position:relative;
    left:100px;
    top:20px;
}
footer > div:last-child > div:nth-child(3){
    position:relative;
    left:140px;
    bottom:0px;
}