*{
    margin:0px;
    padding:0px;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.615);
}
.wrap{
    margin: 0 auto;
    
    width:1120px;
}
#rogo{
    margin:30px;
    margin-bottom:10px;
    margin-left:70px;
}
header{
    
    background-color: rgba(128, 128, 128, 0.115);
}
header> div:last-child > div >  a{
    font-size: 12px;
    color:white;
}
header div:first-child,div:nth-child(2){
    float:left;
    
    
}
header > div:nth-child(2),div:nth-child(3) {
    font-size: 13px;
}
header > div:nth-child(3) > a {
    margin-right:10px;
}
header span{
    color:rgba(0, 128, 0, 0.527);
}
header > div:last-child > div{
    display: inline-block;
    margin-left:70px;
    margin-right:50px;
}
header > div:last-child > div:first-child{
    margin-left:170px;
}
header > div:last-child{
    background-color: rgb(95, 90, 90);
    padding:10px;
} 
#clear{
    clear:left;
}
header > div:nth-child(2){
    position:relative;
    top:43px;
    left:130px;
}
header > div:nth-child(3){
    position:relative;
    left:338px;
    top:39px;
}
main{
    padding-top:20px;
    background-color: rgba(128, 128, 128, 0.115);
}

main > div:first-child{
    width:95%;
    margin:0 auto;
    
}
table{
    float:left;
    margin-left:40px;
}

table td{
    border-bottom: 1px solid rgba(0, 0, 0, 0.179);
    padding:3px;
    padding-left:30px;
}
table tr:first-child td{
    background-color: #80a727;
    text-align: center;
    padding:10px;
    color:white;
    font-size: 10px;
    width:180px;
    border-bottom:none;
}
main > div:first-child > div{
    margin:10px;
    position:relative;
    
    float:right;
    left:-36px;
    top:-10px;
}
main > div:first-child > div >div:first-child{
    background-image: url("../img/latest_notice.gif");
    width:239px;
    height:161px;
    margin-bottom: 12px;
}
main > div:first-child > div >div:last-child{
    background-image: url("../img/week_event.gif");
    width:239px;
    height:191px;
}
main > div:first-child > div > div:first-child ul{
    position:relative;
    left:30px;
    top:40px;
}
#clear{
    clear:both;
}
main > div:nth-child(2){
    float:none;
    width:95%;
    margin:0 auto;
    margin-top:40px;
    
    
}
main > div:nth-child(2) > div:first-child{
    background-image: url(../img/special_shop.gif);
    width:592px;
    height:389px;
    margin-left:40px;
    float:left;
    
}
main > div:nth-child(2) > div:last-child{

float:none;
display: inline-block;
margin-left:0px;
}
main > div:nth-child(2) > div:first-child  img
{
    position:relative;
    box-shadow: 0px 0px 3px gray;
    padding: 20px;
    left:30px;
    top:60px;
}
#landscape{
    background-image: url(../img/landscape.gif);
    width:392px;
    height:129px;
}
#point_wall{
    width:392px;
    height:129px;
    background-image: url(../img/point_wallpaper.gif);
    float:none;
}
#children{
    width:392px;
    height:129px;
    background-image: url(../img/point_wallpaper.gif);
    
}
main > div:nth-child(2) > div:last-child img{
    margin:2px;
    position:relative;
    left:130px;
    top:5px;
}
main > div:nth-child(3) {
   
    
    width:95%;
    margin:0 auto; 
    margin-top:20px;
    box-shadow: 0px -3px 0px green;
    padding-bottom:50px;
   
}
main > div:nth-child(3) > div:last-child{
    float:none;
    margin-left:30px;
    
}
main > div:nth-child(3) > div:last-child{
    float:none;
    margin:10px;
}
main > div:nth-child(3) > div:last-child > div{
    display: inline-block;
    position:relative;
    left:30px;
    top:20px;
}
main > div:nth-child(3) > div:last-child > div > div{
    display: inline-block;
    margin:15px;
    
}
main > div:nth-child(3) > div:last-child > div > div > div:last-child{
    text-align: center;
    width:100%;
    
}
footer{
    background-color: rgba(128, 128, 128, 0.115);
    height:200px;
}
footer > div:first-child{
    background-color: rgb(73, 69, 69);
    padding:10px;

}
footer > div:first-child >div{
    display: inline-block;
    margin-left:20px;
    
}
footer > div:first-child >div:nth-child(2){
    margin-left:270px;
}
footer > div:first-child >div a{
    font-size:11px;
    color:white;
}
footer > div:last-child{
    float:none;
}
footer > div:last-child > div{
    float:none;
    display: inline-block;
}
footer > div:last-child > div:first-child{
    position:relative;
    left:90px;
    bottom:10px;
}
footer > div:last-child > div:nth-child(2){
    position:relative;
    left:100px;
    top:20px;
}
footer > div:last-child > div:nth-child(3){
    position:relative;
    left:140px;
    bottom:0px;
}